@media (max-width: 767px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
   }

.header{
   background-image: none;
   background-position: calc(100% + 86px) -80px, calc(100% - 343px) 125px, calc(100% - 295px) 77px, calc(100% - 47px) 688px, calc(100% - 118px) 670px;
   background-image: url('/img/miniStar1.svg'), url('/img/miniStar2.svg'), url('/img/miniStar3.svg'), url('/img/miniStar4.svg'), url('/img/miniStar5.svg');

   &__title{
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    display: flex;
    width: 262px;
    padding-left: 57px;
   }
   &__text{
    font-size: 16px;
    width: 340px;
    padding-left: 40px;
    text-align: center;
   }
   &__button{
    width: 285px;
    height: 55px;
    font-size: 16px;
    margin-left: 46px;
   }
}

.banner{
    display: none;
    width: 1717px;
    height: 51px;

    &__text{
        font-size: 16px;
    }
}
.img__conteiner{
    display: none;
}
.img{
    display: none;
}
.title{
    font-size: 40px;
}
.galery{

    &__item{
    height: 284px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    }
}


.footer{
    font-size: 16px;
}

}